body {
    }

.papaflexheader {
/*    flex-wrap: wrap;*/
    display: flex;
/*    justify-content: space-between;*/
    flex-direction: row;
    border: 1px solid black;
    }
.flexnav  {
    
    display: inline-flex;
    border: 1px solid aqua;
    background-color: rgb(33, 164, 188);

    }
.flextitle  {
    border: 1px solid green;
    background-color: chartreuse;
    
*/
}

.flexlogo   {
    border: 1px solid red;
    background-color: orangered;
}